.card-content {
    background-color: #E0AAFF;
    border-radius: 15px;
    padding: 30px;
    width: 50%;
    text-align: center;

    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}


.container-separator {
    width: 100%;
    height: 10px;
    border-bottom: 2px solid black;
    text-align: center;
}

.separator {
    font-size: 15px;
    background-color: #E0AAFF;
    border: 2px solid black;
    padding: 0 10px;
}

.adivice-text{
    margin: 35px;
    color: #10002B;

    font-size: 3rem;
    font-weight: bold;
    font-style: italic;
}

.caontainer-buttons{
    margin-top: 40px;
    height: 20%;
}


.img-button{
    width: 50px;
    cursor: pointer;
    margin-left: 10px;
    margin-right: 10px;
}

.img-button:hover{
    transform: scale(1.5);
}

@media screen and (max-width: 600px) {
    .card-content {
        width: 90%;
    }

    .adivice-text{
    
        font-size: 2rem;
        font-weight: bold;
        font-style: italic;
    }
}
